*{
    background-color: rgb(139, 48, 48);
    color: yellow;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    text-justify: inter-word;
}


a{
    color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: yellow;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h3{
   font-size: 35px; 
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}



