*{
    text-align: center;
    background-color: rgb(139, 48, 48);
    color: yellow;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style-position:inside;
     
}

a{
    color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: yellow;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img{
    height: auto;
    width: 750px;
}

